/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-input {
  color: black;
  border-radius: 15px;
  height: 250px;
  border: 2px solid var(--secondary-color);
  display: block;
  font-size: 20px;
  color: #024e76;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}