*{
    margin: 0;
}

:root{
    --primary-color: dodgerblue;
    --secondary-color: khaki;


}

body {
    background-image: linear-gradient(to bottom right, yellow, turquoise, blue, purple );
    font-family: Arial, Helvetica, sans-serif;
}
/* begin nav styling */

.nav {
    background-image: url(../images/hero-bg.png);
    z-index: 99999;
    width: 100%;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content:space-between;
    
}


.nav a {
    font-size: 35px;
    color: gold;
    font-weight:bolder;
}

/* end nav styling */

/* begin HERO section */
.hero {
    text-align: center;
    background-image: url(../images/hero-bg.png);
    background-position: 80%;
    background-size: cover;
    background-attachment: fixed;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    
}

.hero {
    display: inline-flex;
    justify-content: space-evenly;
    flex: wrap;
}

.col.s6 {
    margin-left: 0;
}

.hero h3,
.form-section-steps h3 {
    font-size: 48px;
    text-align: center;
    margin-top: 5%;
    font-weight: 900;
    padding-top: 5%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero p {
    font-size: 28px;
    text-align: left;
    padding: 0 15px;
    font-weight: 550;

}

/* begin map section */
.map-column {
    display: inline-flex;
    background-image: linear-gradient(to right bottom,tan,#723c3c );
    background-color: #723c3c;
    border-radius: 15px;
    text-align: center;
    height: 600px;
    width: 600px;
    justify-content: center;
    margin-top: 5%;
    
}

#map-title {
    margin-top: 15px;
}

#map {
    margin-top: 15px;
    border-radius: 15px;
}

/* end map section */

/* end hero section */

/* start form section */

.form-section,
.form-box {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    
}

.form-section {
    margin-top: 5%;
}
.form-input {
    color: black;
    border-radius: 15px;
    height: 350px;
    border: 2px solid var(--secondary-color);
    display: block;
    font-size: 20px;
    color: #024e76;
    width: 50%;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

#your-city,
#your-date,
#temp {
    border: 2px solid var(--secondary-color);
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    border-radius: 15px;
    color: black;
}


#your-city:hover,
#your-date:hover,
#temp:hover {
    background-color: var(--secondary-color);
}

#your-city:focus,
#your-date:focus,
#temp:focus {
    background-color: var(--secondary-color);
    outline: none;
}


.form-submit { 
    height: 75px;
    width: 15%;
    border-radius: 15px;
    font-size: 25px;

}

.form-submit:hover {
    background-image: linear-gradient(to bottom right, yellow, turquoise);
}

/* end form section */

/* begin recommended destination's card section */

.recommended-destination {
    background-image: linear-gradient(to bottom right, #fffde7, #fdd835, #ffd600, #fbc025, #f9a825);
    display: inline-flex;
    justify-content: center;
    margin-top: 5%;
    background-size: cover;
    flex-wrap: wrap;
}

.recom-descrip,
.recommended-city-column{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
}

.recom-descrip h3 {
    font-size: 35px;
    padding-top: 60px;
}
.recom-destinations-card {
    max-width: 45%;
    height: 600px;
    margin-top: 5%;
}

.recom-card-header,
.recom-card-body,
.recom-card-footer {
    width: 500px;
    border: 2px solid black;
}

.recom-card-header {
    background-image: linear-gradient(teal, var(--primary-color));
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
.recom-card-header h3 {
    font-size: 36px;
}
.recom-card-body {
    background-image: linear-gradient(to bottom right, khaki, gold);
}

.recom-card-footer {
    background-image: linear-gradient(teal, turquoise);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;

}

.recom-city-img img  {
max-width: 450px;
max-height: 450px;
margin: 10px 25px 10px 25px;
border-radius: 15px;
} 


.recom-city-img img:hover {
    cursor: pointer;
}
/* end recommended card destination's section */

/* begin destinations row sections */

.destination-descrip {
    color: khaki;
    text-align: center;
}
.destinations-row {
    background-image: linear-gradient(to right bottom,tan,#723c3c);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 5%;
    border: 2px solid gold;
    width: 100%;
    background-size: cover;
}
.destination-descrip {
    display: block;
}
.row-card-header,
.row-card-body,
.row-card-footer {
    width: 350px;
    border: 2px solid black;
}

.row-card-header {
    background-image: linear-gradient(teal, var(--primary-color));
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.row-card-body {
    background-image: linear-gradient(to bottom right, khaki, gold);
    justify-content: center;
    align-items: center;
}

.row-card-footer {
    background-image: linear-gradient(teal, turquoise);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    margin-bottom: 2%;
}

.row-city-img img {
max-width: 275px;
max-height:275px;
border-radius: 15px;
margin-left: 10.5%;
padding-top: 6px;

} 

.row-city-img img:hover {
    cursor: pointer;
}

@media screen and (max-width: 1385px) {
    .row .col.s6 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 2%;
        text-align: center;
    }

    .row .col.s6 h3 {
        font-weight: 700;
        font-size: 32px;
    }

    .row .col.s6 p {
        font-weight: 500;
        font-size: 26px;
        text-align: center;
    }

    .recom-destinations-card {
        height: 150%;
        margin-bottom: 5%;
    }
    .recom-card-header,
    .recom-card-body,
    .recom-card-footer {
        width: 150%;
        margin-right: 2%;

    }

    .recom-city-img img {
        width: 70%;
        height: 100%;
    }
    
    .row-card-header,
    .row-card-body,
    .row-card-footer {
        width: 90%;
        align-items: center;
    }

    .row-card-header h3,
    .row-card-footer h4 {
        font-size: 27px;
    }


    .row-city-img img {
        width: 70%;
        height: 100%;
    }

}

@media screen and (max-width: 1198px) {

    .description.col.s6{
        margin-left: 25%;
    }

    .form-section-steps.col.s5 {
        text-align: center;
    }

    #lets-go-btn {
        width: 75%;
        height: 50px;
        margin-top: 2%;
    }

}

@media screen and (max-width: 980px) {
    .destination-descrip h3 {
        margin: auto;
    }

    .form-section-steps.col.s5 h3 {
        font-size: 36px;
    }

    .form-section-steps.col.s5 p {
        font-size: 26px;
    }

    #lets-go-btn {
        width: 70%;
        margin-top: 2%;
        height: 50px;
    }

    .input-field.form-input.form-box{
        width: 75%;
    }

}

@media screen and (max-width: 768px) {
    #logo-container {
        font-size: 25px;
        
    }

    .description.col.s6 h3 {
        font-size: 28px;
    }
    .description.col.s6 p {
        font-size:  22px;
    }
    
    #lets-go-btn {
        width: 75%;
    }

    .recom-destinations-card {
        height: 200%;
        margin-top: 5%;
    }

    .recom-card-header h3,
    .recom-card-footer h4 {
        font-size: 25px;
    }

    .recom-descrip.col h3 {
        font-size: 30px;
        padding-top: 0;
        justify-content: center;
        align-content: center;
        margin-left: 5%;
    }

    .recom-descript.col

    .recom-descrip.col p {
        margin-left: 5%;
    }
}

@media screen and (max-width: 600px) {
    #logo-container {
        font-size: 22px;
    }

    .map-column {
        width: 95%;
    }

    #map {
        height: 75%;
        width: 75%;

    }

    .input-field.form-input.form-box{
        width: 95%;
    }

    #lets-go-btn {
        width: 100%;
    }

    .recom-descrip.col,
    .recommended-city-column {
        width: 100%;
    }

    .recommended-city-column {
        margin-right: 15%;
    }

}

